<template name="account">
    <div class="row">
        <div class="col-xs-9">

            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
                    <li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="projects">
                        <div class="col-xs-6" style="border-right: 1px solid #ccc;">
                            <h3>
                                Your Projects
                                <!--You Own {{selfProjectCount}} Projects &lt;!&ndash; PLURALITY? &ndash;&gt;-->
                                <!--<a class="btn btn-default pull-right" href="{{pathFor 'projectCreate'}}"><span class="glyphicon glyphicon-plus"></span></a>-->
                                <!--<a href="#" data-toggle="modal" data-target="#createProjectModal" class="pull-right">-->
                                    <!--<span class="glyphicon glyphicon-plus"></span> New-->
                                <!--</a>-->
                                <a type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#createProjectModal">
                                    <span class="glyphicon glyphicon-plus"></span> New
                                </a>
                            </h3>
                            <br/>
                            {{>projectsListSelf}}
                        </div>
                        <div class="col-xs-6">
                            <h3>
                                Contributing Projects
                                <!--You Contribute to {{otherProjectCount}} Projects-->
                                {{#if pendingProjects}}
                                    <a type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#acceptInviteModal">
                                        <span class="glyphicon glyphicon-bell"></span> Invited
                                    </a>
                                {{/if}}
                            </h3>
                            <br/>
                            {{>projectsListOther}}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="teams">
                        <h2>Implementation Pending.</h2>
                    </div>
                </div>

            </div>
        </div>

        <!-- Use template for user-->
        <div class="col-xs-3" style="text-align: center;">
            <h3>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</h3>
            <h5>{{currentUser.username}}</h5>

            <p>
                <img src="http://placehold.it/200x200" alt="User Avatar" width="200px" height="200px">
            </p>
            <p>
                <span class="glyphicon glyphicon-globe"></span> Online
                <span style="margin-right:4em"></span>
                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
                <!--<a type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#editProfileModal">-->
                    <!--<span class="glyphicon glyphicon-bell"></span> Edit Profile-->
                <!--</a>-->
            </p>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <p>
                    <a href="#">{{currentUser.profile.email}}</a><br/>
                </p>
                <p>
                    {{currentUser.profile.location}}
                </p>
            </div>
            <p>
                <span class="glyphicon glyphicon-time"></span> Member Since: <br/> <strong>{{memberSince}}</strong>
            </p>
        </div>

    </div>
    <br/>
    <!--<div class="row" style="padding-right: 25px;">-->
        <!--<div class="col-xs-10" style="width: 900px;">-->
            <!--{{> feedActivity}}-->
        <!--</div>-->
    <!--</div>-->

    <!-- Add Project Modal -->
    <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create A New Project</h4>
                </div>
                <div class="modal-body">
                    {{> projectCreate}}
                </div>
            </div>
        </div>
    </div>

    <!-- Accept Invite Modal -->
    <div class="modal fade" id="acceptInviteModal" tabindex="-1" role="dialog" aria-labelledby="acceptInviteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">You have been invited to join:</h4>
                </div>
                <div class="modal-body">
                    {{> projectUserInvited}}
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    {{> accountEdit}}
                </div>
            </div>
        </div>
    </div>

</template>