<template name="projectPage">
    <div class="project-page">

        <!--<a type="button" class="btn btn-default pull-left" href="{{pathFor 'account'}}" style="position: absolute; z-index: 1;">-->
        <!--<span class="glyphicon glyphicon-chevron-left"></span> Back-->
        <!--</a>-->

        <div class="row">
            <div class="col-xs-12">
                <span style="text-align: center;">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </span>
                <hr style="border-top: 1px solid #ccc;"> <!-- override bootstrap native css -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1">

                <div style="padding-bottom: 10px;">
                    <a type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#createBulbModal">
                        <span class="glyphicon glyphicon-plus" style="font-size: 20px"></span>
                    </a>
                </div>
                <div style="padding-bottom: 10px;">
                    <a type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#inviteUserModal">
                        <span class="glyphicon glyphicon-user" style="font-size: 20px"></span>
                    </a>
                </div>
                <div style="padding-bottom: 10px;">
                    <a type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#editProjectModal">
                        <span class="glyphicon glyphicon-pencil" style="font-size: 20px"></span>
                    </a>
                </div>
                <div style="padding-bottom: 10px;">
                    <a type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-folder-close" style="font-size: 20px"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-8" style="text-align: center;">
                {{> bulbsList}}
            </div>
            <div class="col-xs-3" style="text-align: left;">
                {{> chat}}
            </div>

        </div>


    </div>

    <!-- Add Bulb Modal -->
    <div class="modal fade" id="createBulbModal" tabindex="-1" role="dialog" aria-labelledby="createBulbModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create A New Bulb</h4>
                </div>
                <div class="modal-body">
                    {{> bulbAdd}}
                </div>
            </div>
        </div>
    </div>

    <!-- Invite User Modal -->
    <div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="inviteUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invite User</h4>
                </div>
                <div class="modal-body">
                    {{> projectInvite}}
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Project Modal -->
    <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Project Attributes</h4>
                </div>
                <div class="modal-body">
                    {{> projectEdit}}
                </div>
            </div>
        </div>
    </div>

</template>
