<template name="projectEdit">
    <form>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input name="name" id="name" type="text" value="{{name}}" placeholder="Project name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input name="description" id="description" type="text" value="{{description}}" placeholder="Describe your project" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Update" class="btn btn-default"/>
    </form>
</template>