<template name="projectsListSelf">
    <div class="projects" id="ownedProjects" style="overflow-y: auto;">
        {{#each projects}}
            {{> projectItem}}
        {{/each}}
    </div>
</template>

<template name="projectsListOther">
    <div class="projects" id="contributingProjects" style="overflow-y: auto;">
        {{#each projects}}
            {{> projectItem}}
        {{/each}}
    </div>

    <script>
        function resizeElements() {
            var projectListHeight = $(window).height() - $('#header').height() - 180;
            $('#ownedProjects').css('height', projectListHeight.toString() + 'px');
            $('#contributingProjects').css('height', projectListHeight.toString() + 'px');
        }

        if ($(window).height() > 500) {
            resizeElements();
        }

        $(window).resize(function(){
            if ($(window).height() > 500) {
                resizeElements();
            }
        });
    </script>
</template>