<template name="projectItem">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{pathFor 'projectPage'}}">{{name}}</a>
                {{#if ownProject}}
                {{else}}
                <span class="pull-right" style="font-weight: normal; font-size: 14px; color: #f6f6f6">
                    {{author}}
                </span>
                {{/if}}
            </h3>
            <!--{{#if ownProject}}-->
            <!--{{else}}-->
            <!--<p>-->
                <!--<span class="pull-right">-->
                        <!--{{author}}-->
                <!--</span>-->
            <!--</p>-->
            <!--{{/if}}-->
        </div>
        <div class="panel-body">
            <p>{{description}}</p>
        </div>
    </div>
</template>