<template name="accessDenied">
    <div style="padding-top: 100px;">
        <img src="/lightbulb_logo_360.png" height="125px" style="margin-left: auto; margin-right:auto; display: block;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Projects</h1>
                            <p>We've all got lots of ideas. Some are good and some are bad. We can help you organize your ideas into centralized repositories. Don't ever lose your ideas again.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bulbs</h1>
                            <p>Brainstorming as a group can be hard. The same differences that help build better ideas can lead to conflict and confusion. Wouldn't it be great if you could see which ideas were the brightest?</p>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Sparks</h1>
                            <p>Good ideas come about when groups of people build their with a clear vision of all the components that make their idea whole. Even the best ideas in the world started with a single spark of innovation. </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>
