<template name="layout">
    <div class="container-fluid" style="min-width: 1280px;">
        {{>header}}
        {{>errors}} <!-- For bulb exists error, do an error in the modal (like empty title error) -->

        <!--{{#if inProject}}
            <div class="row">
                <div class="col-xs-8">
                    {{> yield}}
                </div>
                <div class="col-xs-4">
                    {{> chat}}
                </div>
            </div>
        {{else}}-->
            {{> yield}}
        <!--{{/if}}-->
    </div>
</template>
