<template name="index">
    <div class="home-content">
        <div class="row-fluid">
            <div class="col-xs-13 col-sm-6 col-lg-8">

            </div>
            <div class="col-xs-13 col-sm-6 col-lg-4">
                {{> signup}}
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-4 testimonials-content box-content right" style="border: solid;">
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae"<br>
                    <br>
                    - Elon Musk
                </p>

            </div>
            <div class="col-md-4 testimonials-content" style="border: solid;">
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae"<br>
                    <br>
                    - Steve Jobs
                </p>
            </div>
            <div class="col-md-4 testimonials-content" style="border: solid;">
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae"<br>
                    <br>
                    - Bill Gates
                </p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12 ad-content" style="border:solid">asdaasdasdasdasdsdsd</div>
        </div>

    </div>

</template>