<template name="signup">
    <form class="sign-up-form">
        <div class="form-group">

            <input name='username' type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">

            <input name='firstName' type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">

            <input name='lastName' type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">

            <input name='email' type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input name='password' type="password" class="form-control" placeholder="Password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary signup-button">Sign Up</button>
    </form>
</template>