<template name="bulbItem">

    <script>
        $('.bulbPopover').popover();
    </script>
    <span class="image-wrapper" style="position: relative;">
        <a href="{{pathFor 'bulbPage'}}">
            <img src="/lightbulb_symbol_360.png" id='{{_id}}' alt="{{title}}" style="padding: 20px;" width="240px" height="292px"/>
            <span style="position: absolute; z-index: -1; left:0;">
                <img src="/lightbulb_symbol_glow_360.png" style="padding: 20px; {{luminance_css}}" width="240px" height="292px"/>
            </span>
            <span class="bulbPopover" style="font-weight: bold; text-align: center; position: absolute; left: 0; top: -70px; color: #000; width: 160px; margin: 40px; font-size: 16px;" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="{{synopsis}}">
                {{title}}
            </span>
        </a>
    </span>

</template>