<template name="bulbPage">
    <div class="bulb-page">

        <!--<a type="button" class="btn btn-default pull-left" href="{{pathFor 'projectPage' _id=project._id}}" style="position: absolute; z-index: 1;">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span> Back-->
        <!--</a>-->

        <div class="row">
            <div class="col-xs-12">
                <span style="text-align: center;">
                    <a href="{{pathFor 'projectPage' _id=project._id}}">
                        <h3>{{project.name}}</h3>
                    </a>
                    <p>{{project.description}}</p>
                </span>
                <hr style="border-top: 1px solid #ccc;"> <!-- override bootstrap native css -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1">
                <div style="padding-bottom: 10px;">
                    <a type="button" class="btn btn-default" data-toggle="modal" data-target="#editBulbModal">
                        <span class="glyphicon glyphicon-pencil" style="font-size: 16px"></span>
                    </a>
                </div>
                <div>
                    <a type="button" class="btn btn-default" data-toggle="modal" data-target="#createSparkModal">
                        <span class="glyphicon glyphicon-plus" style="font-size: 16px"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-11">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://placehold.it/100x100" alt="bulb">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{title}}</h4>
                        {{synopsis}}
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-xs-6">
                {{> sparksList}}
            </div>

            <div class="col-xs-6">
                {{> commentsList}}
            </div>
        </div>

    </div>

    <!-- Add Spark Modal -->
    <div class="modal fade" id="createSparkModal" tabindex="-1" role="dialog" aria-labelledby="createSparkModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create A New Spark</h4>
                </div>
                <div class="modal-body">
                    {{> sparkSubmit }}
                </div>
            </div>
        </div>
    </div>

</template>