<template name="sparkItem">

    <div class="bulb">
        <div class="bulb-content">
            <li>
                <h4>
                    <span class="spark date">on {{submittedText}}</span>
                </h4>
                <p>{{body}}</p>
            </li>
        </div>
        <a href="" class="discuss btn btn-default">Comment</a>
        <p> {{ commentsCount }} comments </p>
    </div>

    <div class="bulb">
        <div class="bulb-content">
            {{# if selectedSpark }}
            <ul>
                {{# each comments }}
                    {{> commentItem }}
                {{/ each }}
            </ul>
            {{/if }}
            {{#if currentUser}}
                {{> commentSubmit}}
            {{else}}
                <p>Please log in to leave a comment.</p>
            {{/if}}
        </div>
    </div>

</template>