<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" style="padding: 8px 0px;" href="{{pathFor 'account'}}">
                    <img alt="Brand" src="/lightbulb_logo_360.png" height="40px" width="150px">
                </a>
            </div>

            <div class="collapsed navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-question-sign" style="top: 3px;" aria-hidden="true"></span></a>
                        <!--<a><img alt="help" src="http://placehold.it/20x20"></a>-->
                    </li>
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>